<div class="h-screen drawer lg:drawer-open">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div class="flex flex-col drawer-content">
    <app-header>
      <!-- The drawer toggle button will be placed inside the header component -->
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <!-- Add a button to open the drawer on small screens -->
      <label for="my-drawer" class="btn btn-primary drawer-button xl:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="inline-block w-6 h-6 stroke-current"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"
          ></path>
        </svg>
      </label>
    </app-header>
    <div class="flex flex-col flex-grow overflow-hidden bg-gray-50">
      <app-chat-area class="flex flex-col flex-1 overflow-auto" />
    </div>
  </div>
  <div class="drawer-side">
    <label for="my-drawer" class="drawer-overlay"></label>
    <div class="h-full bg-white w-80">
      <app-notes-sidebar />
    </div>
  </div>
</div>
